#dropzone
    border 1px dashed #ddd
    height 200px
    margin 10px 0
    .glyphicon
        font-size 500%
        color #ddd
        padding 10%
    .center-block
        width 50%
        height 50%
        margin auto
