@import 'nib'

imgNavHeight = 45%

.image
    width 100%
    height auto
    a
        color: #fff
        text-shadow 2px 2px 2px #000
    img
        width 100%
        height auto
        overflow hidden
    .imageNav, tagList, .navigation ul li, .socialWrapper, #login-buttons
        opacity 0
    .imageNav
        .prev, .next
            position absolute
            top  imgNavHeight
        .prev
            left 3%
        .next
            right 3%
        .remove
            position absolute
            top 50px
            right 5%
            background-color transparent
            border-color transparent
        .glyphicon
            font-size 200%
        .edit
            position absolute
            top 50px
            right 10%
        .view
            img
                width 1080px
    .tagList
        position absolute
        bottom 5%
        left 5%
    &:hover
        .imageNav, .tagList, .navigation, .socialWrapper, #login-buttons
            opacity 1
            transition: opacity 1s ease-in-out

.imageFadeToContainer {
  position relative
  height auto
  width 100%
  margin 0 auto
}
.imageFadeToContainer img {
  position:absolute;
  left:0;
  transition: opacity 1s ease-in-out;
}

.imageFadeToContainer img.transparent {
  opacity:0;
}

@media all and (orientation: portrait)
    // rotate on viewport orientation
    .view img
        margin-top 50%
        transform: rotate(90deg)
