.about
  background-color #ddd
  padding 10px
  border-radius 6px
  text-shadow none
  color rgba(96, 96, 96, 1)


#qrcode
   svg
    //padding 5px
    background-color #fff
    display block
    margin 10% auto 0
    width 250px
    height 250px
    animation textShadowOut ease-out 1s
    animation-fill-mode forwards
    &:hover
        animation textShadowIn ease-in 1s
        animation-fill-mode forwards



